version: "3.8"

x-environment: &default
  env_file:
    - ../.env

services:
  mysql:
    image: mysql:8.0
    container_name: banchan-mysql-dev
    ports:
      - "3306:3306"
    environment:
      MYSQL_DATABASE: banchan
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - ./mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping -h localhost -uroot -proot"]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7
    container_name: banchan-redis-dev
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
